html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;


}
.app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: #0F0F0F ;
}
.wrapper{
  max-width: 1560px;
  margin: 0 auto;

}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px 1fr; 
  gap: 0;
  height: 100%;
  margin: 0 30px;
}

.setting {
  grid-column: 1 / -1; 
  grid-row: 1;
  color: rgb(255, 255, 255);
}

.statistics {
  grid-column: 1;
  grid-row: 2;
}

.pomodoro {
  grid-column: 2 / span 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistics-day {
  grid-column: 5;
  grid-row: 2;
}
