.pomodoro-wrapper{
    border: 1px rgb(0, 0, 0) solid;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}


.pomodoro-timer {
    font-size: 120px;
    margin-block: 30px;
}
.pomodoro-buttons{
    display: flex;
    gap: 20px;
    margin-top: 10px;



}
.pomodoro-button {
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color: #6F7F8C;
    border: none;
    border-radius: 20px;
    color: white;
}